{% extends 'base_layout.html' %}

{% block content%}
    <h1>Article List</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <!-- create for loop to go through each article retrieved from DB-->
                <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title}}</a></h2>
                <img src="{{article.thumb.url}}">
                <p>{{article.snippet|safe}}</p>
                <p>{{article.date}}</p>
                <p class="author"> added by {{ article.author.username}}</p>
            </div>
        {% endfor %}
</div>
{% endblock%}