{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Articles</title>
    <link rel="stylesheet"  href="{% static "styles.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    
</head>


<body>
    <div class="wrapper container">
        <!-- <h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}"></a></h1> -->
        <nav class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a  href="{% url 'home' %}">Home</a></li>
                <!-- if user is logged in display this -->
                {% if user.is_authenticated %}
                <!-- if user is signed in show them link to create a new article -->
                <li class="nav-item"><a   href="{% url 'articles:create' %}" class="highlight">Create Post</a></li>
                <li class="nav-item">
                    <!-- when we click on the button it goes to the form which calls accounts.logout_view -->
                    <!-- logout_view then detects the POST request from the form and log user out and redirec to article list -->
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token%}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                
                <!-- if they are not logged in show them login and sign up -->
                {% else %}
                    <li class="nav-item"><a  href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item"><a  href="{% url 'accounts:signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- content specific to different pages -->
        {% block content %}
        {% endblock content %}
</body>
</html>